<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WBS.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.AvalonDock" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.0" newVersion="2.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <WBS.Wpf.Properties.Settings>
      <setting name="Theme" serializeAs="String">
        <value>BaseDark</value>
      </setting>
      <setting name="ThemeAccent" serializeAs="String">
        <value>Steel</value>
      </setting>
      <setting name="WorkBenchTheme" serializeAs="String">
        <value>Dark</value>
      </setting>
      <setting name="ToolOneIsVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToolTwoIsVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowStartPageOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SelectedPortName" serializeAs="String">
        <value />
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="DataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StopBits" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WeighBridgeCertificatesFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="WeighBridgeCertificateLogo" serializeAs="String">
        <value />
      </setting>
      <setting name="WeighBridgeCertificateTemplate" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportsFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportLogo" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportTemplate" serializeAs="String">
        <value />
      </setting>
      <setting name="ProductExpireDate" serializeAs="String">
        <value />
      </setting>
      <setting name="ProductDemoExpireDate" serializeAs="String">
        <value>RZR/MjNxE8mBaFHKjxRF6EjNyBiAnaJN5W+Yx7Jv7VpzQSe4fZeG3L67emsjvIBxU+ZinT64UK9d4ObY0C/krLNEGh7YTatfsP1zoCF0cAMQRgqaF2AtFzfgEoYRK7ro</value>
      </setting>
      <setting name="ToolThreeIsVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastTicketNumber" serializeAs="String">
        <value>000000</value>
      </setting>
      <setting name="LogInLogo" serializeAs="String">
        <value />
      </setting>
      <setting name="StartChar" serializeAs="String">
        <value>W</value>
      </setting>
      <setting name="LastLogInDate" serializeAs="String">
        <value />
      </setting>
    </WBS.Wpf.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="TradeScales" connectionString="Data Source=.;Initial Catalog=TradeScales;Integrated Security=SSPI; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
    <add name="WBS" connectionString="Data Source=|DataDirectory|\WBS.sdf;File Mode=Read Write;Persist Security Info=False;" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>