<!--Styling-->
<style>
    table {
        width: 100%;
    }
   
    th, td {
        height:25px;
        padding: 5px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<!--Logo-->
<div style="text-align:center; padding-bottom:50px">
    <img style="background-color:black; width:250px; display:block;" src="[IMAGESOURCE]" />
</div>
<!--Header-->
<div>
    <h1 style="font-weight: bold; text-align:center">Weigh Bridge Report</h1>
    <h3 style="font-weight: bold; text-align:center">[TIMESTAMP]</h3>
</div>
<div style="overflow-x:auto;">
    <!--Tickets-->
    [TICKETS]
</div>

