<!--Logo-->
<div style="text-align:center; padding-bottom:50px">
    <img style="background-color:black; width:250px; display:block;" src="[IMAGESOURCE]" />
</div>
<!--Header-->
<div>
    <h1 style="font-weight: bold; text-align:center">Weighbridge Ticket</h1>
</div>
<!--Ticket-->
<div style="padding-bottom:25px">
    <h4 style="font-weight: bold; margin-left:8px">Ticket ([TICKETNUMBER])</h4>
    <table>
        <tr>
            <td colspan="4">
                <table>
                    <tr>
                        <td width="20%">
                            Ticket number: <br />
                            Time in:<br />
                        </td>
                        <td width="20%">
                            [TICKETNUMBER]<br />
                            [TIMEIN] <br />
                        </td>
                        <td width="20%">
                            <br />
                            Time out:
                        </td>
                        <td>
                            <br />
                            [TIMEOUT]
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<!--Ticket Details-->
<div style="padding-bottom:50px">
    <h4 style="font-weight: bold; margin-left:8px">Ticket Details</h4>
    <table>
        <tr>
            <td colspan="4">
                <table>
                    <tr>
                        <td width="300px">
                            Order number: <br />
                            Customer code:<br />
                            Haulier code: <br />
                            Driver code:<br />
                            <br />
                            <br />
                            <br />
                            Destination code:<br />
                            Product code: <br />
                        </td>
                        <td>
                            [ORDERNUMBER]<br />
                            [CUSTOMERCODE] <br />
                            [HAULIERCODE] <br />
                            [DRIVERCODE] <br />
                            <br />
                            <br />
                            <br />
                            [DESTINATIONCODE] <br />
                            [PODUCTCODE] <br />
                        </td>
                        <td width="400px">
                            Delivery number: <br />
                            Customer name: <br />
                            Haulier name: <br />
                            Driver first name: <br />
                            Driver last name: <br />
                            Driver mobile number: <br />
                            Vehicle registration: <br />
                            Destination name: <br />
                            Product name: <br />
                        </td>
                        <td>
                            [DELIVERYNUMBER] <br />
                            [CUSTOMERNAME] <br />
                            [HAULIERNAME] <br />
                            [DRIVERFIRSTNAME] <br />
                            [DRIVERLASTNAME] <br />
                            [DRIVERMOBILE] <br />
                            [VEHICLEREGISTRATION] <br />
                            [DESTINATIONNAME] <br />
                            [PRODUCTNAME] <br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<!--Weight Information-->
<div style="padding-bottom:50px;">
    <table>
        <tr>
            <td colspan="2">
                <table>
                    <tr>                      
                        <td width="200px">
							Gross: <br />
                            Tarre: <br />                          
                            Nett:
                        </td>
                        <td>
							[GROSSWEIGHT] <br />
                            [TARREWEIGHT] <br />
                            [NETTWEIGHT]
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>



