<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand active" href="#/">Trade Scales</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right" ng-if="userData.isUserLoggedIn">
            <li class="userinfo"><a href="#/">{{username}}</a></li>
            <li class="userinfo"><a href="http://tradescales.co.za/">About</a></li>
            <li class="userinfo"><a href="http://tradescales.co.za/contact-us/">Contact</a></li>
            <li class="userinfo"><a>    </a></li>
        </ul>
    </div>   
</div>